.home{

    height: 100vh;
    color: rgb(0, 0, 0);
    background-color: white;
    position: relative;

}

.home:before{
    
    content:"";
    background: url("../image/wp2168857.jpg") no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    filter: blur(8px);
  -webkit-filter: blur(8px);

}